* {
  box-sizing: border-box;
}

body {
  background: #000 url('../img/black-sky.jpg') no-repeat center;
  color: #fff;
  font-family: sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}